/*
* @Author: Yuk
* @Date:   2016-05-04 18:19:10
* @Last Modified by:   Yuk
* @Last Modified time: 2016-05-10 11:32:10
*/

@font-face {
  font-family: 'icons-turn-arrow';
  src: url('../fonts/icons/turn-arrow.eot');
  src: url('../fonts/icons/turn-arrow.eot') format('embedded-opentype'), url('../fonts/icons/turn-arrow.ttf') format('truetype'), url('../fonts/icons/turn-arrow.woff') format('woff'), url('../fonts/icons/turn-arrow.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #222;
}

#content {
  width: 100%;
  height: 100%;
}

.stage {
  width: 100%;
  height: 680px;
}

.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1800px;
  @at-root {
    .img-figure {
      position: absolute;
      box-sizing: border-box;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      cursor: pointer;
      background-color: #fff;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
      figcaption {
        text-align: center;
        .img-title {
          margin: 20px 0 0;
          font-size: 16px;
          color: #a7a0a2;
        }
        .img-back {
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 50px 40px;
          overflow: auto;
          font-size: 22px;
          line-height: 1.25;
          transform: rotateY(180deg) translateZ(1px);
          text-align: left;
          color: #a7a0a2;
          background-color: #fff;
          backface-visibility: hidden;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

.controller-nav {
  position: absolute;
  z-index: 101;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  @at-root {
    .controller-unit {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 5px;
      text-align: center;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;
      transform: scale(.5);
      transition: transform .6s, color .6s;
      vertical-align:middle;
      &.is-center {
        transform: scale(1);
        background-color: #888;
        // 字体
        &::after{
          font-family:"icons-turn-arrow";
          content:"\e600";
          line-height: 30px;
          font-size: 80%;
          color: #fff;
          // 灰阶渲染 控制字体轮廓亮度
          // 亚像素渲染 rgb亚像素混合；更好；耗CPU更多；
          // 开启灰阶平滑;适用字体浅色；背景深色；
          -webkit-font-smoothing:antialiased; 
          -moz-osx-font-smoothing:grayscale;
        }
        // 翻转
        &.is-inverse{
          transform:rotateY(180deg);
        }
      }
    }
  }
}
